



body{
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




@media screen 
  and (min-device-width: 600px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    



}



@media screen 
  and (min-device-width: 769px) 
  and (max-device-width: 1624px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


}